name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: npm install, build, and test
        run: |
          npm ci
          npm run build
          npm run prettier:check
          npm run lint
          npm run type:check
          npm run test
          npm run marktest
